<header class="navbar navbar-expand-lg  bg-white">
    <div class="container justify-content-center">
    <a href="#" class="site-logo"> ToDo-List </a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-top fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href=" ">Design</a> </li>
                    <li class="nav-item"><a class="nav-link" href=" ">Inspiration</a> </li>
                    <li class="nav-item"><a class="nav-link" href=" ">Sport</a></li>
                    <li class="nav-item"><a class="nav-link" href=" ">Politics</a></li>  
                </ul>
            </div>
        </div>
    </nav>
</header>


