<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
            <div class="site-logo">Angular-Blog</div>
            <div>
             <ul class="nav justify-content-center">
           <li><a href="" class="nav-link">Home</a></li>
           <li><a href="" class="nav-link">About</a></li>
           <li><a href="" class="nav-link">Term & Condition</a></li>
           <li><a href="" class="nav-link">Contact</a></li>
             </ul>
            </div>
            <p  class="mb-2 mat-2">Copyright © GDTC 2023 Angular</p>
        </div>
    </div>
    </div>
</footer>
